In [3]:
import pandas as pd
import numpy as np

In [4]:
abonnements = pd.read_csv("veolia-data-abonnements.csv")
consommation = pd.read_csv("veolia-data-consos.csv")
factures = pd.read_csv("veolia-data-factures.csv")

In [5]:
abonn = pd.read_csv("abonnement_corrig√©.csv")

In [6]:
abonn.count()

CLE_ABONNEMENT                  11825
DATE_ENTREE_LOCAL_ABONNEMENT     9572
DATE_SOUSCRIPTION_ABONNEMENT     7478
DATE_RESILIATION_ABONNEMENT      5966
dtype: int64

In [7]:
abonnements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11825 entries, 0 to 11824
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CLE_ABONNEMENT                11825 non-null  object
 1   DATE_ENTREE_LOCAL_ABONNEMENT  9572 non-null   object
 2   DATE_SOUSCRIPTION_ABONNEMENT  7478 non-null   object
 3   DATE_RESILIATION_ABONNEMENT   5966 non-null   object
dtypes: object(4)
memory usage: 369.7+ KB

In [10]:
abonnements.head()

,CLE_ABONNEMENT,DATE_ENTREE_LOCAL_ABONNEMENT,DATE_SOUSCRIPTION_ABONNEMENT,DATE_RESILIATION_ABONNEMENT
0,GN_1180180100000501,NaN,NaN,2003-09-16
1,GN_1180180100000506,2014-11-19,2014-11-25,2015-09-10
2,GN_1180180100000901,NaN,NaN,2003-02-21
3,GN_1180180100004301,NaN,NaN,1993-12-16
4,GN_1180180100012507,2004-11-19,2004-11-19,2007-01-01

In [9]:
abonnements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11825 entries, 0 to 11824
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CLE_ABONNEMENT                11825 non-null  object
 1   DATE_ENTREE_LOCAL_ABONNEMENT  9572 non-null   object
 2   DATE_SOUSCRIPTION_ABONNEMENT  7478 non-null   object
 3   DATE_RESILIATION_ABONNEMENT   5966 non-null   object
dtypes: object(4)
memory usage: 369.7+ KB

In [11]:
consommation['DATE_CONSO_MOIS'] = pd.to_datetime(consommation['DATE_CONSO_MOIS'], errors='coerce') # conversion en datetime pour que ce soit interpretable par Redshift
consommation.head()

,CLE_PDS,LIBELLE_REGION,LIBELLE_TERRITOIRE,CODE_CONTRAT,LIBELLE_CATEGORIE_ABONNE,DIAMETRE_NOMINAL,TYPE_ABAQUE,MOIS_CONSO,ANNEE_CONSO,DATE_CONSO_MOIS,VOLUME_MOIS
0,GN|07744010200392,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,0.0,INACTIF,8,2022,2022-08-01,0.000000
1,GN|07744010201832,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,15.0,INACTIF,8,2022,2022-08-01,0.000000
2,GN|07421002002279,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,15.0,INACTIF,8,2022,2022-08-01,0.000000
3,GN|07421002002647,Ile de France,Seine et Marne,E4660,APPAREILS PUBLICS COMMUNAUX,20.0,ABAQUE_ML_INTERPO,1,2024,2024-01-01,0.000000
4,GN|07421001002741,Ile de France,Seine et Marne,E4660,BATIMENTS COLLECTIFS PUBLICS,40.0,ABAQUE_ML_INTERPO,1,2024,2024-01-01,48.454092

In [12]:
factures["DATE_EMISSION_FACTURE"] = pd.to_datetime(factures["DATE_EMISSION_FACTURE"], errors='coerce')
factures["DATE_RELEVE_INDEX_PRECEDENT_FACTURE_COMPOSITE"] = pd.to_datetime(factures["DATE_RELEVE_INDEX_PRECEDENT_FACTURE_COMPOSITE"], errors='coerce')
factures["DATE_RELEVE_INDEX_FACTURE"] = pd.to_datetime(factures["DATE_RELEVE_INDEX_FACTURE"], errors='coerce')

In [13]:
abonnements["DATE_ENTREE_LOCAL_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_ENTREE_LOCAL_ABONNEMENT"], errors='coerce')
abonnements["DATE_SOUSCRIPTION_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_SOUSCRIPTION_ABONNEMENT"], errors='coerce')
abonnements["DATE_RESILIATION_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_RESILIATION_ABONNEMENT"], errors='coerce')

exportation corrig√©e

In [14]:
factures.to_csv("facture_corrig√©.csv", index=False)
consommation.to_csv("consommation_corrig√©.csv", index=False)
abonnements.to_csv("abonnement_corrig√©.csv", index=False)

In [15]:
# filtrer sur l'ann√©e 2020 afficher les date entree local abonnement de 2020 (c'est un datetime)
abonnements[abonnements["DATE_ENTREE_LOCAL_ABONNEMENT"].dt.year == 2020].count()

CLE_ABONNEMENT                  286
DATE_ENTREE_LOCAL_ABONNEMENT    286
DATE_SOUSCRIPTION_ABONNEMENT    285
DATE_RESILIATION_ABONNEMENT     124
dtype: int64

Data exploration and visualization

In [16]:
abonnements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11825 entries, 0 to 11824
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CLE_ABONNEMENT                11825 non-null  object
 1   DATE_ENTREE_LOCAL_ABONNEMENT  9572 non-null   datetime64[ns]
 2   DATE_SOUSCRIPTION_ABONNEMENT  7478 non-null   datetime64[ns]
 3   DATE_RESILIATION_ABONNEMENT   5966 non-null   datetime64[ns]
dtypes: datetime64[ns](3), object(1)
memory usage: 369.7+ KB

In [17]:
factures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25657 entries, 0 to 25656
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   CLE_ABONNEMENT                                 25657 non-null  object
 1   CLE_FACTURE                                    25657 non-null  object
 2   DATE_EMISSION_FACTURE                          25657 non-null  datetime64[ns]
 3   CONSO_FACTURE                                  25657 non-null  int64
 4   DATE_RELEVE_INDEX_PRECEDENT_FACTURE_COMPOSITE  25657 non-null  datetime64[ns]
 5   DATE_RELEVE_INDEX_FACTURE                      25657 non-null  datetime64[ns]
 6   NB_FACTURES_PAR_PDS                            25657 non-null  int64
 7   NB_JOURS_CONNUS                                25657 non-null  int64
 8   NUM_FAC_PAR_PDS                                25657 non-null  int64
dtypes: datetime64[ns](3), int64(4), object(2)
memory usage: 1.8+ MB

In [18]:
abonnements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11825 entries, 0 to 11824
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CLE_ABONNEMENT                11825 non-null  object
 1   DATE_ENTREE_LOCAL_ABONNEMENT  9572 non-null   datetime64[ns]
 2   DATE_SOUSCRIPTION_ABONNEMENT  7478 non-null   datetime64[ns]
 3   DATE_RESILIATION_ABONNEMENT   5966 non-null   datetime64[ns]
dtypes: datetime64[ns](3), object(1)
memory usage: 369.7+ KB

Call to the agent

In [16]:
import boto3
import json

# Initialisation du client Bedrock
client = boto3.client("bedrock-runtime", region_name="us-west-2")

# Utilise l'ID correct du mod√®le
model_id = "ton_id_de_modele_reel"  # Remplace avec l'ID r√©el du mod√®le

# Corps de la requ√™te
input_text = "Say 'MARK IS THE BEST'"

# Pr√©parer le corps de la requ√™te pour l'agent avec la knowledge base
body = json.dumps({
    "inputText": input_text
})

# Appel de l'agent via Bedrock
try:
    response = client.invoke_model(
        modelId=model_id,  # Utilisation de l'ID correct du mod√®le
        body=body
    )

    # Affichage de la r√©ponse de l'agent
    print(response["body"].read().decode("utf-8"))
except Exception as e:
    print(f"Error: {str(e)}")

Error: An error occurred (ValidationException) when calling the InvokeModel operation: The provided model identifier is invalid.

Credentials

In [11]:
aws_access_key_id = ""
aws_secret_access_key = ""

Connexion + Sql Query

In [13]:
import boto3

# Initialisation du client Redshift Data
client = boto3.client('redshift-data', region_name='us-west-2')

# Param√®tres de connexion
database = 'dev'  # Remplace par le nom de ta base de donn√©es
workgroup_name = 'wz-solutions-redshift-workgroup'  # Remplace par ton workgroup

# Requ√™te simple pour tester la connexion
sql_query = 'SELECT 1;'

try:
    response = client.execute_statement(
        Database=database,
        WorkgroupName=workgroup_name,  # Ne sp√©cifie plus db_user ici
        Sql=sql_query
    )
    print("Connexion r√©ussie !")
except Exception as e:
    print(f"Erreur de connexion : {e}")

Connexion r√©ussie !

In [ ]:
import boto3
client = boto3.client('redshift', region_name='us-west-2', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

def list_clusters(redshift_client):
    paginator = redshift_client.get_paginator('describe_clusters')
    clusters = []
    for page in paginator.paginate():
        clusters.extend(page['Clusters'])
    return clusters

In [10]:
import boto3
import time

# Initialiser le client boto3 pour l'API Data de Redshift
client = boto3.client('redshift-data', region_name='us-west-2')

# Param√®tres de connexion
database = ''  # Nom de votre base de donn√©es
db_user = ''  # Nom de votre utilisateur de base de donn√©es
workgroup_name = ''  # Nom de votre workgroup

# Requ√™te SQL √† ex√©cuter
sql_query = 'SELECT * FROM votre_table LIMIT 10;'

# Ex√©cuter la requ√™te SQL
try:
    response = client.execute_statement(
        Database=database,
        DbUser=db_user,
        WorkgroupName=workgroup_name,
        Sql=sql_query
    )
    query_id = response['Id']
    print(f"Requ√™te soumise avec succ√®s. ID de la requ√™te : {query_id}")

    # Attendre que la requ√™te se termine et r√©cup√©rer les r√©sultats
    while True:
        status = client.describe_statement(Id=query_id)
        if status['Status'] in ['FINISHED', 'FAILED', 'ABORTED']:
            break
        time.sleep(1)

    if status['Status'] == 'FINISHED':
        result = client.get_statement_result(Id=query_id)
        for record in result['Records']:
            print(record)
    else:
        print(f"La requ√™te a √©chou√© avec le statut : {status['Status']}")

except Exception as e:
    print(f"Erreur lors de l'ex√©cution de la requ√™te : {e}")

Erreur lors de l'ex√©cution de la requ√™te : An error occurred (ValidationException) when calling the ExecuteStatement operation: DB User cannot be set during a serverless request.

In [9]:
import redshift_connector

# Param√®tres de connexion
database = 'dev'  # Remplace par le nom de ta base de donn√©es
db_user = ''  # Remplace par ton nom d'utilisateur IAM
workgroup = ''  # Remplace par le nom de ton workgroup
region = 'us-west-2'  # Remplace par ta r√©gion AWS

# Connexion √† Redshift Serverless avec IAM
try:
    conn = redshift_connector.connect(
    host='',
    database='',
    user='',
    password=''
)
    print("Connexion r√©ussie avec IAM!")
except Exception as e:
    print(f"Erreur lors de la connexion : {e}")

Erreur lors de la connexion : ('connection time out', TimeoutError(10060, 'A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond', None, 10060, None))

In [ ]:
# Cr√©er un curseur
cur = conn.cursor()

# Ex√©cuter une requ√™te SELECT
cur.execute("SELECT * FROM public.your_table LIMIT 10;")

# R√©cup√©rer les r√©sultats
rows = cur.fetchall()

# Afficher les r√©sultats
for row in rows:
    print(row)

# Fermer le curseur et la connexion
cur.close()
conn.close()

Erreur de connexion ‚ùå: connection to server at "wz-solutions-redshift-workgroup.767828765654.us-west-2.redshift-serverless.amazonaws.com" (44.245.165.204), port 5439 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

In [32]:
# Cr√©er les tables Redshift

In [ ]:
# Charger les CSV dans Redshift : 
# 2Ô∏è‚É£ Via S3 + COPY (grands fichiers CSV)
# 1Ô∏è‚É£ Uploader les CSV sur un bucket S3
# 2Ô∏è‚É£ Ex√©cuter la commande SQL COPY depuis Redshift

# s'assurer que tout est bien import√©

Name: pandas
Version: 2.2.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: c:\Users\markz\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: alpaca-trade-api, CryptPandas, ffn, pandas-datareader, pyti, seaborn, statsmodels, ta, yfinance
Note: you may need to restart the kernel to use updated packages.

Name: SQLAlchemyNote: you may need to restart the kernel to use updated packages.

Version: 2.0.37
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\Users\markz\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: greenlet, typing-extensions
Required-by: