In [1]:
import pandas as pd
import numpy as np

In [2]:
abonnements = pd.read_csv("veolia-data-abonnements.csv")
consommation = pd.read_csv("veolia-data-consos.csv")
factures = pd.read_csv("veolia-data-factures.csv")

In [3]:
abonnements.head()

,CLE_ABONNEMENT,DATE_ENTREE_LOCAL_ABONNEMENT,DATE_SOUSCRIPTION_ABONNEMENT,DATE_RESILIATION_ABONNEMENT
0,GN_1180180100000501,NaN,NaN,2003-09-16
1,GN_1180180100000506,2014-11-19,2014-11-25,2015-09-10
2,GN_1180180100000901,NaN,NaN,2003-02-21
3,GN_1180180100004301,NaN,NaN,1993-12-16
4,GN_1180180100012507,2004-11-19,2004-11-19,2007-01-01

In [4]:
abonnements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11825 entries, 0 to 11824
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CLE_ABONNEMENT                11825 non-null  object
 1   DATE_ENTREE_LOCAL_ABONNEMENT  9572 non-null   object
 2   DATE_SOUSCRIPTION_ABONNEMENT  7478 non-null   object
 3   DATE_RESILIATION_ABONNEMENT   5966 non-null   object
dtypes: object(4)
memory usage: 369.7+ KB

In [5]:
consommation['DATE_CONSO_MOIS'] = pd.to_datetime(consommation['DATE_CONSO_MOIS'], errors='coerce') # conversion en datetime pour que ce soit interpretable par Redshift
consommation.head()

,CLE_PDS,LIBELLE_REGION,LIBELLE_TERRITOIRE,CODE_CONTRAT,LIBELLE_CATEGORIE_ABONNE,DIAMETRE_NOMINAL,TYPE_ABAQUE,MOIS_CONSO,ANNEE_CONSO,DATE_CONSO_MOIS,VOLUME_MOIS
0,GN|07744010200392,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,0.0,INACTIF,8,2022,2022-08-01,0.000000
1,GN|07744010201832,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,15.0,INACTIF,8,2022,2022-08-01,0.000000
2,GN|07421002002279,Ile de France,Seine et Marne,E4660,PROFESSIONNELS,15.0,INACTIF,8,2022,2022-08-01,0.000000
3,GN|07421002002647,Ile de France,Seine et Marne,E4660,APPAREILS PUBLICS COMMUNAUX,20.0,ABAQUE_ML_INTERPO,1,2024,2024-01-01,0.000000
4,GN|07421001002741,Ile de France,Seine et Marne,E4660,BATIMENTS COLLECTIFS PUBLICS,40.0,ABAQUE_ML_INTERPO,1,2024,2024-01-01,48.454092

In [6]:
factures["DATE_EMISSION_FACTURE"] = pd.to_datetime(factures["DATE_EMISSION_FACTURE"], errors='coerce')
factures["DATE_RELEVE_INDEX_PRECEDENT_FACTURE_COMPOSITE"] = pd.to_datetime(factures["DATE_RELEVE_INDEX_PRECEDENT_FACTURE_COMPOSITE"], errors='coerce')
factures["DATE_RELEVE_INDEX_FACTURE"] = pd.to_datetime(factures["DATE_RELEVE_INDEX_FACTURE"], errors='coerce')

In [7]:
abonnements["DATE_ENTREE_LOCAL_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_ENTREE_LOCAL_ABONNEMENT"], errors='coerce')
abonnements["DATE_SOUSCRIPTION_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_SOUSCRIPTION_ABONNEMENT"], errors='coerce')
abonnements["DATE_RESILIATION_ABONNEMENT"] = pd.to_datetime(abonnements["DATE_RESILIATION_ABONNEMENT"], errors='coerce')

exportation corrigée

In [8]:
factures.to_csv("facture_corrigé.csv", index=False)
consommation.to_csv("consommation_corrigé.csv", index=False)
abonnements.to_csv("abonnement_corrigé.csv", index=False)

In [12]:
import psycopg2

# Paramètres Redshift
DB_NAME = "dev"
DB_USER = "awsuser"
DB_PASSWORD = "QPWSRfduxg990.-"
DB_HOST = "wz-solutions-redshift-workgroup.767828765654.us-west-2.redshift-serverless.amazonaws.com:5439/dev"
DB_PORT = "5439"

# Connexion à Redshift
try:
    conn = psycopg2.connect(
        dbname=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT
    )
    print("Connexion réussie à Redshift ✅")
except Exception as e:
    print("Erreur de connexion ❌:", e)

Erreur de connexion ❌: could not translate host name "wz-solutions-redshift-workgroup.767828765654.us-west-2.redshift-serverless.amazonaws.com:5439/dev" to address: No such host is known.

In [ ]:
# Créer les tables Redshift

In [ ]:
# Charger les CSV dans Redshift : 
# 2️⃣ Via S3 + COPY (grands fichiers CSV)
# 1️⃣ Uploader les CSV sur un bucket S3
# 2️⃣ Exécuter la commande SQL COPY depuis Redshift

# s'assurer que tout est bien importé

Name: pandas
Version: 2.2.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: c:\Users\markz\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: alpaca-trade-api, CryptPandas, ffn, pandas-datareader, pyti, seaborn, statsmodels, ta, yfinance
Note: you may need to restart the kernel to use updated packages.

Name: SQLAlchemyNote: you may need to restart the kernel to use updated packages.

Version: 2.0.37
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\Users\markz\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: greenlet, typing-extensions
Required-by: